Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
whitenoise
python-docx
django-filter
drf-spectacular
Pillow
channels
daphne
# langchain_groq
# langchain==0.3.13
# langchain_huggingface
# langchain_community
